.button-row {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.button-row > img {
	cursor: pointer;
	height: 50px;
	margin: 0 5px;
	transition: all 0.3s linear;
	width: 50px;
	z-index: 1;
}
.button-row #ndp {
	height: auto;
	margin-top: -10px;
	width: 75px;
}
.button-row > img:hover {
	opacity: 0.7;
}


@media screen and (min-width: 540px) {
	.button-row {
		justify-content: start;
	}
}
