.ridings-container {
	display: flex;
	flex-direction: column;
}

.sub-head {
	color: var(--grey03);
	font-size: 1.2rem;
	text-transform: uppercase;
}


@media screen and (min-width: 500px) {
	.ridings-container {
		flex-direction: row;
		justify-content: space-between;
	}
}