.ridings-container {
	display: flex;
	flex-direction: column;
}

.sub-head {
	color: var(--black);
	font-size: 1.2rem;
	font-weight: 800;
	margin-block-start: 0;
	margin-block-end: 0;
	/*text-transform: uppercase;*/
}


@media screen and (min-width: 500px) {
	.ridings-container {
		flex-direction: row;
		justify-content: space-between;
	}
}