.ridings-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.sub-head {
	color: var(--black);
	font-size: 1.2rem;
	font-weight: 800;
	margin-block-start: 0;
	margin-block-end: 0;
	/*text-transform: uppercase;*/
}

.slick-list {
	width: 100%;
}
.slick-prev,.slick-next {
	background-color: lightgrey;
	border-radius: 50%;
	z-index: 100;
}
.slick-prev:hover,.slick-next:hover {
	background-color: lightgrey;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 10px;
}
@media screen and (min-width: 450px) {
	.slick-next {
		right: 45px;
	}
}

@media screen and (min-width: 590px) {
	.ridings-container {
		flex-direction: row;
		justify-content: space-between;
	}
	.slick-next {
		right: 0;
	}
}