.map-container {
	margin: -100px 0 50px 0;
	z-index: -1;

}
.map-container .layer-container {
	position: relative;
}
.map-container .basemap {
	width: 100%;
}
.map-container .data-layer {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.policy-copy {
	left: 50%;
	margin-top: -50px;
	max-width: 400px;
	position: absolute;
	transform: translateX(-50%);
	width: 80%;
}

.policy-copy > h3 {
	margin-bottom: 7px;
}
.policy-copy .text {
    font-size: 1.1rem;
    margin-block-start: 0;
}


@media screen and (min-width: 540px) {
	.map-container {
		margin-bottom: -5px;
	}
	.policy-copy {
		background-color: rgba(255,255,255,0.8);
		border-radius: 4px;
		box-shadow: -2px 1px 3px rgba(255,255,255,0.8);
		left: auto;
		margin-top: auto;
		max-width: 270px;
		padding: 3px 3px 0 3px;
		right: 5px;
		top: 50px;
		transform: none;
	}
}

