.riding-card {
	box-shadow: 0 1px 5px #d1d2d2;
	display: flex;
	flex-flow: row wrap;
	margin: 1vh 0;
	padding: 3px 5px;
	position: relative;
	width: 280px;
	
}


.riding-card > header {
	flex: 1 100%;
	margin-bottom: 7px;
}
.riding-card > header h3 {
	color: var(--grey01);
}
.riding-card > header .subhead {
	display: none;
}
/*.riding-card .copy {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}*/
.riding-card .copy > p {
	margin: 0 0 3px 5px;
}

.riding-card .subhead {
	color: var(--grey03);
	font-size: 0.9rem;
	margin: 0;
	text-transform: uppercase;
}
.riding-card .copy .subhead {
	margin-left: 5px;
}

.riding-card .gfx {
	/*height: 100px;*/
	position: relative;
	width: 125px;
}
.riding-card .map {
	height: 100px;
	position: absolute;
	top: 0;
	width: 125px;
	z-index: -1;
}

.riding-card .percent {
	color: var(--blue02);
	font-size: 3rem;
	line-height: 4rem;
	margin: 0; 
	text-align: center;
}
.riding-card .variable-description {
	border-bottom: 1px solid #D2d2d2;
	height: 70px;
	margin: 0 0 0 5px;
	max-width: 150px;
	/*padding-bottom: 10px;*/
}

.riding-card .eln-results {
	align-items: center;
	display: flex;
	flex: 1 100%;
	flex-flow: row wrap;
	margin-top: 1vh;
}
.riding-card .eln-results .subhead {
	width: 125px;
}
.riding-card .eln-results .swatch {
	height: 12px;
	margin: 0 3px 0 5px;
	width: 12px;
}
.riding-card .eln-year {
	font-size: 0.9rem;
	margin: -4px 0;
}
.riding-card .swatch.conservative {
	background-color: var(--conservative)
}
.riding-card .swatch.green {
	background-color: var(--green)
}
.riding-card .swatch.ndp {
	background-color: var(--ndp)
}
.riding-card .swatch.liberal {
	background-color: var(--liberal)
}