/* SHIFT */
@font-face {
	font-family: 'Shift-Bold';
	font-weight: 400;
	font-src: url('./../fonts/Shift-Bold.otf') format('otf')
}
@font-face {
	font-family: 'Shift-BoldItalic';
	font-weight: 400;
	src: url('./../fonts/Shift-BoldItalic.otf') format('otf')
}

/* BENTON SANS */
@font-face {
	font-family: 'BentonSansCond-Regular';
	src: url('./../fonts/BentonSansCond-Regular.otf') format('otf')
}
@font-face {
	font-family: 'BentonSansCond-RegItalic';
	src: url('./../fonts/BentonSansCond-RegItalic.otf') format('otf')
}
@font-face {
	font-family: 'BentonSansCond-Bold';
	font-weight: 400;
	src: url('./../fonts/BentonSansCond-Bold.otf') format('otf')
}
@font-face {
	font-family: 'BentonSansCond-BoldItalic';
	font-weight: 400;
	src: url('./../fonts/BentonSansCond-BoldItalic.otf') format('otf')
}
